footer {
    background-color: var(--dark-color);
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    text-align: center;


}


#social-networks img {
    width: 25px;
    height: 25px;

}

#text-footer {
    color: var(--soft-color);
    font-size: 0.7em;
}

#logo-site {
    width: 50%;
    margin-top: 10px;

}


@media screen and (min-width: 600px) {
    footer {
        flex-direction: row;
        justify-content: space-around;

    }

    footer div {
        display: inline-flex;
        align-items: center;
        width: 30%;
    }


    #logo-site {
        margin-top: 0;
        width: 50vh;
        padding-left: 20px;
    }

    #social-networks {
        width: 30%;
        display: flex;
        justify-content: flex-end;
    }

    #social-networks img {
        width: 50px;
        height: 50px;
        margin: 15px;


    }

    #text-footer {
        color: var(--soft-color);
        font-size: 0.9em;
        display: inline-flex;
        align-items: center;
        width: 30%;
        justify-content: center;
    }


}