nav {
    background-color: var(--dark-color);
    display: flex;
    margin: auto;
    padding: auto;

}

nav ul {
    list-style-type: none;
}

/* Sidenav menu */
.sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: -250px;
    background-color: var(--dark-color);
    padding-top: 60px;
    transition: left 0.5s ease;
}

.sidenavmenu {
    display: none;
}

.sidenav>ul>li>a {
    color: #FF9FE5;
}

/* Sidenav menu links */
.sidenav a {
    display: none;
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

/* Sidenav menu links */
.sidenav a:hover {
    color: #F7F7F2;
}

.sidenav.active {
    left: 0;
}

/* Close btn */
.sidenav .close {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    color: #FF9FE5;
}

/* Icône burger */
.burger-icon>span {
    display: flex;
    width: 35px;
    height: 6px;
    background-color: #FF9FE5;
    margin-right: 20px;
    margin-top: 8px;
    margin-left: 10px;
}

#imagelogo {
    min-width: 300px;
    width: 100%;
    height: 40px;
    margin-top: 5px;
}

#openBtn {
    align-self: center;
    margin-bottom: 10px;
    margin-right: -15px;
}

@media screen and (min-width: 600px) {

    nav {
        display: block;
        background-color: var(--dark-color);
        justify-content: space-around;
        height: 120px;
        width: auto;
        padding: auto;
    }

    nav ul {
        list-style-type: none;
        width: auto;
    }

    .sidenavmenu {
        display: inline-flex;
        width: auto;
    }

    .sidenav {
        position: absolute;
        display: flex;
        height: 100px;
        width: auto;
        z-index: 1;
        top: 0;
        left: 0px;
        background-color: var(--dark-color);
        padding-top: 60px;
        transition: none;
    }

    .sidenav>ul {
        position: absolute;
        list-style-type: none;
        font-size: xx-large;
        margin-bottom: 0px;
        margin-right: 0px;
        margin-left: -39px;
        margin-top: 5px;
        display: flex;
        justify-content: space-around;
        width: 100vw;
        height: 10vh;
    }

    .sidenav>a {
        display: flex;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        transition: 0;
        margin-right: 20px;
        color: #FF9FE5;
        width: 100vw;
    }

    /* Close btn */
    .sidenav .close {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        display: none;
    }

    .burger-icon>span {
        display: none;
        width: 35px;
        height: 20px;
        background-color: #FF9FE5;
        margin-right: 2000px;
    }

    #imagelogo {
        height: 50px;
        width: auto;
        display: flex;
        margin-right: -50px;
    }

    #logo {
        display: inline-flex;
        justify-content: center;
        width: 100%;
    }
}