.h1-subtitle {
    margin-top: 0;
    padding: 0;
    font-style: italic;
    font-size: 1em;
    margin-left: 2em;
    margin-right: 2em;
}

.history-section {
    margin:2em;
    padding: 1em;
    background-color: var(--light-color);
}

ul.summary {
    font-size: 1em;
    text-align: center;
    margin:0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
    justify-content:center;
  }

ul.summary li {
  background-color: var(--bg-color);
  padding: 0.5em;
  margin: 0.5em;
  border: var(--bright-color) 1px solid;
  text-align: center;
  border-radius: 2em;
}

ul.summary li:hover {
  background-color: var(--bright-color);
  a color:var(--bg-color)
}

ul.summary li:hover a{
  background-color: var(--bright-color);
  color:var(--soft-color)
}

ul.summary li a:hover {
  background-color: var(--bright-color);
  color:var(--soft-color)
}