body {
    padding: 15px;
}

#logos {
    margin: 10px;
    padding: 10px;
    display: grid;
    grid-template-columns: 3fr 3fr 3fr;

}



.logo {
    margin: 10px;
    padding: 2px;
    display: inline-flex;
    align-items: center;
}

main div img {
    max-width: 100%;
}

.article-logo {
    max-width: 95%;
    margin: 10px 10px 30px 10px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.actor-title {
    margin: 10px;
}

.actor-article {
    display: block;
    align-content: center;
    padding: 10px;
    margin: 15px;
}

@media screen and (min-width: 1024px) {
    #logos {
        display: none;
    }

    #articles {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }


}