#quiz {
    width: 95%;
    margin: auto;
}

.quiz-question {
    margin-bottom: 15px;
    display: flex;
}

.quiz-choice ul li {
    list-style-type: none;
}

.quiz-number {
    color: white;
    background-color: var(--dark-color);
    width: 40px;
    text-align: center;
    padding-top: 1em;
}


.quiz-text {
    padding-left: 5px;
}

#quiz-result {
    background-color: var(--dark-color);
    color: white;
    margin-bottom: 1em;
    text-align: center;
}

#quiz-score {
    display: inline-block;
    width: 100%;
    font-weight: 700;
    height: 3.5em;

}

#quiz-score-nbr {
    border: var(--soft-color) solid;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    aspect-ratio: 1/1;
    height: auto;
    width: fit-content;
    padding: 10px;
}

#score-sentence {
    padding-bottom: 1em;
    width: 90%;
    margin: auto;
}

#button-zone {
    background-color: var(--dark-color);
    display: flex;
    justify-content: center;
    height: 80px;
    align-items: center;
}


#send-button {
    margin-left: 1em;
    border-radius: 20px;
    height: 3em;
    font-weight: bold;
    background-color: var(--soft-color);
    padding: 11px;
}

#send-button:hover {
    cursor: pointer;
}