body {
    padding: 15px;
}

#news-list {
    list-style-type: none;
    padding-inline-start: 0px;
}

.news-picture {
    max-width: 100%;
    height: auto;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.news-item {
    background-color: #e4e6c3;
    padding: 10px;
    margin: 30px 0px;
}

@media screen and (min-width: 1024px) {
    #news-list {
        margin: 0px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 15px;
    }

    .news-item {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 1fr 4fr;
        margin: 15px;
        height: auto;
    }

    .news-title {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .news-picture {
        padding: 10px;
    }

    .news-description {
        padding: 30px;
    }


}