body {
    padding: 15px;
}

.news-list {
    list-style-type: none;
    padding-inline-start: 0px;
}

.news-img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.news-item {
    background-color: #e4e6c3;
    padding: 10px;
}

@media screen and (min-width: 1024px) {
    .news-items {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 20px;
    }

    .news-title {
        grid-column-start: 1;
        grid-column-end: 4;
    }

}